section img{
	width: 200px;
}

footer img{
	width: 50px;
}

header{
	background-color: #FFED74;
}

nav{
	background-color: #E8C66A;
}

div{
	background-color: #FFE2B8;
}

section{
	background-color: #FFE2B8;
}

footer{
	background-color: #FF957E;
}